.sidebar {
    display: inline-block;
    margin-left: 3%;
    margin-top: 13px;
}

.link {
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
}

.sidebar h2 {
    margin-top: 20px;
}

.avatar {
    display: flex;
}