.sidebar {
    display: inline-block;
    margin-left: 3%;
    margin-top: 13px;
}

.link {
    text-decoration: none;
    color: white;
}

.sidebar h2 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.avatar {
    margin-top: 20px;
    display: inline-block;
}